<!--- Local Host Code (uncomment out for local host)-->

<!--<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/eventsapi">Events</a></td>
        <td><a href="/songs">Spotify</a></td>
        <td><a href="/favorites">Your Favorite Songs!</a></td>
    </tr>
</table>  -->


<!--- Deployed Code (uncomment out for deployed)-->

<table>
    <tr>
        <td><a href="/ManiacMusic/">Home</a></td>
        <td><a href="/ManiacMusic/eventsapi.html">Events</a></td>
        <td><a href="/ManiacMusic/songs.html">Spotify</a></td>
        <td><a href="/ManiacMusic/favorites.html">Your Favorite Songs!</a></td>
        
     
    
    </tr>
</table> 
