---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }


  html, body, input, textarea, select, button, a {   
    color: #709df8 !important;
  }


  body {
    background: #14202d !important;
  } 

  blockquote { 
    border-left: 3px solid #68f8b3; margin: 0; padding: 0 0 0 20px; font-style: italic; 
  }

  